@model System.Double


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function () {
        $(".DOUBLEslider").each(function () {
            $(this).slider({
                range: "min",
                step: 0.5,
                value: 0,
                min: 0,
                max: 10,
                slide: function (event, ui) {
                    $(this).parent().find(".vrednostDOUBLE").val(ui.value.toString().split('.').join(','));
                }
            });
        });
    });
</script>

<div>
    @Html.TextBox("", Model, new { @name = "ViewData.ModelMetadata.PropertyName", @class = "vrednostDOUBLE form-control" })

    <div style="width:170px;margin-top:10px" class="DOUBLEslider custom-range" type="range"></div>
</div>
