@model List<Film>
@{
    ViewData["Title"] = "Pregled filmov";
}

<h1 class="display-4">@ViewData["Title"]</h1>

<div>
    @{
        if (User.IsInRole("Zaposleni"))
        {
            <a class="btn btn-outline-info" asp-action="Dodaj">Dodaj</a>
        }
    }

    <br /><br />

    <div>
        @Html.DisplayForModel()
    </div>

</div>