@model Uzunova_Nadica_1002387434_DSR_2021.Models.Film

@{
    ViewData["Title"] = "Podrobnosti filma";
}

<h1 class="display-4">@ViewData["Title"]</h1>

<fieldset>
    @Html.DisplayForModel()
</fieldset>