@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<h4 id="external-login-title">Associate your @Model.ProviderDisplayName account.</h4>
<hr />

<p id="external-login-description" class="text-info">
    You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
    Please enter an email address for this site below and click the Register button to finish
    logging in.
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Ime"></label>
                <input asp-for="Input.Ime" class="form-control" />
                <span asp-validation-for="Input.Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Priimek"></label>
                <input asp-for="Input.Priimek" class="form-control" />
                <span asp-validation-for="Input.Priimek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.DatumRojstva"></label>
                <input asp-for="Input.DatumRojstva" class="form-control" />
                <span asp-validation-for="Input.DatumRojstva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Naslov"></label>
                <input asp-for="Input.Naslov" class="form-control" />
                <span asp-validation-for="Input.Naslov" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Posta"></label>
                <input asp-for="Input.Posta" class="form-control" />
                <span asp-validation-for="Input.Posta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PostnaStevilka"></label>
                <input asp-for="Input.PostnaStevilka" class="form-control" />
                <span asp-validation-for="Input.PostnaStevilka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Drzava"></label>
                <input asp-for="Input.Drzava" class="form-control" />
                <span asp-validation-for="Input.Drzava" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
